*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(205, 94, 112),pink);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    background-color: rgb(91, 5, 65);
    width: 30%;
    height: 80%;
    padding: 2rem 1rem;
    border-radius: 10px;
}
form {
width: 100%;
display: flex;
justify-content: space-between;
}
input{
    width: 80%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
}
.add_btn {
    padding: .7rem 1.4rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: pink;
    color: rgb(91, 5, 65);
    font-weight: bold;
}
ul{
    width: 100%;
    background-color: pink;
    margin-top: 1rem;
    border-radius: 5px;
}

li{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.button_delete{
    padding: .7rem 1.2rem;
    border: none;
    outline: none;
    background-color: rgba(109, 6, 78, 0.5);
    border-radius: 5px;
    font-size: 1rem;
}